body {
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat";
    margin: 0;
}

.page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(wallpaper.jpg);
}

.header{
    margin:0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

h1 {
    margin: 5px;
    font-size: 5vh;
    text-align: center;
    color: black;
    margin-right: 4%;
}
.buttonDiv{
    width: 10%;
}

button {
    width: 100%;
    margin: 5px;
    border: none;
    border-radius: 5px;
    height: 5vh;
    font-size: 3vh;
    color: #0e1d2c;
    font-weight: bold;
    background-color: #31659a;
    box-shadow: 0px 5px 0px 0px #26527e;
    text-align: center;
    margin-left: 4%;
}

button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

button:hover {
    background-color: #2f5b88;
}

.frame{
    height: 75vh;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9 {
    height: 32.5%;
    width: 29%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content:left;

}
.div1{
    background-image: url(1TT.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.div2{
    background-image: url(2TT.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain
}
.div3{
    background-image: url(3TT.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain
}
.div4{
    background-image: url(4TT.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain
}
.div5{
    justify-content: center;
    background-color: transparent;
}
.div6{
    background-image: url(5TT.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain
}
.div7{
    background-image: url(6TT.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain
}
.div8{
    background-image: url(7TT.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain
}
.div9{
    background-image: url(8TT.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain
}


.div1,.div4,.div7{
    margin-right:5px;
}
.div3,.div6,.div9{
    margin-left:5px;
}



